$defaultFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$theme-colors: (
  'primary': #d4c3c3,
  'secondary': #b68787,
  'dark': #525252,
  'danger': #b40000,
);

$primary: #d4c3c3;
$secondary: #b68787;
$dark: #525252;
$white: white;
$light-gray: #c4c4c4;
$danger: #b40000;
$background: #dfdbdb;
