@import './main.module.scss';

.checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  > label {
    margin-left: 10px;
    margin-bottom: 0;
    .tooltip {
      padding: 0 6px;
      border-radius: 50%;
      font-size: 12px;
      color: white;
      background: #c4c4c4;
    }
  }
}
