@import './main.module.scss';
@import '../../theme.scss';

.col {
  text-align: center;
  .edit {
    color: $secondary;
    font-weight: bold;
    margin-right: 10px;
    padding: 0 0 5px;
  }
  .list_item {
    list-style: none;
  }
}
